*{margin: 0; padding: 0;}

#container{width: 1000px; margin: 0 auto;}

nav{height: 100px; background-color: rgb(140, 246, 250);}
nav ul{list-style: none; text-align: right; 
    margin-right: 80px; padding: 20px;}
nav ul li{display: inline-block; margin: 20px;}
nav ul li a{text-decoration: none; color: #000;}
nav ul li a:hover{color: gray;}
/* section 스타일 */
section{margin: 20px; } 
